body{
    background-color: #4d99e7;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.content-header .heading {
    font-size: 35px;
    text-decoration: underline;
}
.content-header .text {
    font-size: 12px;
    margin-top: -25px;
    text-decoration: underline;
    font-weight: 500;
}
.Weather-app {
    padding: 20px;
    width: 50%;
    margin: 0 auto;
}

.Weather-app .app-content{
    margin: 0 auto;
}

.app-content {
    border: 5px solid #000;
    background-image: url('../../assets/cloudBackground.avif');

    text-align: center;
    background-size: cover;
}

.condent-mid input {
    padding: 10px;
    width: max-content;
}
button.submit-btn {
    padding: 5px 20px;
    margin-top: 15px;
    background: #000;
    color: #fff;
}
.content-end small {
    font-weight: 600;
    text-decoration: underline;
}
h2.text-title {
    margin-bottom: -15px;
}

.content-end p {
    font-weight: 500;
}
.search-history {
    margin-top: 10px;
    border: 5px solid #000;
    padding: 10px 20px;
}
.search-history ul {
    list-style-type: decimal;
    text-decoration: underline;
}
.showhstry-btn{
    margin-bottom: 20px;
}
.search-history button{

margin: unset;
}